<%= @items_in_bag %>
<h3>Current Money: <%= @current_money %></h3>
<table>
  <% @items_for_sale.each do |id, item| %>
    <%= form_with(url: "/store/purchase", method: "post", remote: true) do |form| %>
      <tr>
        <td><%= item[:type] %></td>
        <td><%= item[:buy_price] %></td>
        <!-- todo: not this -->
        <td># in Bag <%= @items_in_bag[item[:type].to_s] %></td>
        <td><%= form.submit "Buy"  %></td>
      </tr>
      <%= hidden_field_tag :purchase_id, id %>
    <% end %>
  <% end %>
</table>
