<!DOCTYPE html>
<html>
  <head>
    <title>PokeApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li><a href="/pokemon/team">Team</a></li>
        <li><a href="/bag">Bag</a></li>
        <li><a href="/pokemon/box">Pokemon Box</a></li>
        <% if logged_in? %>
          <li>[<%= current_user.username %>]</li>
          <li><%= button_to "Log Out", '/logout', method: :get%></li>
          <%end%>
          <% if !logged_in? %>
          <li><%= button_to "Login", '/login', method: :get%></li>
          <li><%= button_to "Sign Up", '/users/new', method: :get%></li>
          <%end%>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
